version: '2'

services:    
  portal-test-data:
    env_file: variables.env  
    build: 
      context: portal
    volumes:
    - "/var/portal-api/static"

  portal-api:
    env_file: variables.env  
    image: ${DOCKER_PREFIX}portal-api:${DOCKER_TAG}
    volumes_from:
    - "portal-test-data"
    restart: never

  portal:
    env_file: variables.env
    image: ${DOCKER_PREFIX}portal:${DOCKER_TAG}
    restart: never

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 10.222.222.0/24
        gateway: 10.222.222.1
